 <div class="content">
    <div>
        <div>username:{{username}}</div>
        <div>eid:{{eid}}</div>
    </div>
   <img class="left" src="{{leftPicPath}}" (click)="_setSelectIndex(iCurrentSelIndex-1)" alt="">
   <div *ngFor="let item of collection" >
     <H1 class="title" *ngIf="item.active" >{{item.name}}</H1>
      <img width="651px" height="400px" *ngIf="item.active"   src="{{ item.path }}" alt="">
   </div>
   <img class="right" src="{{RightPicPath}}" (click)="_setSelectIndex(iCurrentSelIndex+1)" alt="">
   <div class="btnContent">
      <button *ngFor="let item of collection;let sIndex = index" (click)="_setSelectIndex(sIndex)"
      [ngClass]="{active:item.active,btn:true}" 
      ></button>
   </div>
   <div class="title">创建于2018年8月9号---第一次课作业</div>
   <router-outlet ></router-outlet>
</div>